content {
	width: 100%;
}

body {

	margin: 0; 
	padding: 0 35px;
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 30px;
}

p {
	font-size: 18px;
}

ul {
	list-style: none;
}

/* Header */
header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
}

header nav {
	width: 33%;
	text-align: right;
}
header nav ul {
	text-decoration: none;
}

header nav ul li {
	display: inline-block;
}

header nav ul li a {
	display: inline-block;
	padding: 25px;
	color: black;
	text-decoration: none;
	font-size: 20px;
	margin: 0 15px;
}

header nav ul li a:hover {
	color: #0065FC;
}

header nav ul li a {
	position: relative;
}

header nav ul li a:after {
	position: absolute;
	bottom: 117px;
	left: 0;
	/*right: 500px;*/
	margin: auto;
	width: 0%;
	content: "";
	background: blue;
	height: 4px;
}

header nav ul li a:hover:after {
	width: 100%;
}

h2 {
	width: 100%;
	height: 30px;
	font-size: 24px;
	padding-left: 20px;
}

#inscription a {
	color: #0065FC;
	font-weight: bold;
}

/* Main section zone de recherche */
section {
	width: 100%;
}
#recherche #lieu {
	padding: 0;
	letter-spacing: 1px;
}

#search-bar {
	width: 35%;
	display: flex;
}

#location {
	background-color: #F2F2F2;
	text-align: center;
	font-size: 24px;
	border-radius: 14px 0 0 14px;
	padding: 14px;
	width: 30px;
	height: 32px;
}

input {
	border: 1px solid #F2F2F2;
	width: 273px;
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 20px;
}

::placeholder {
	color: black;
	font-weight: 800;
	font-size: 20px;
	padding-left: 10px;
}

button {
	font-size: 20px;
	color: white;
	background-color: #0065FC;
	border: none;
	border-radius: 0 14px 14px 0;
	padding: 13px;
	width: 180px;
	height: 60px;
}

/* Filtres */
.toggleBox {
	width: 75%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 3px solid blue;
}

.toggleBox p {
	font-size: 20px;
	color: black;
	font-weight: 900;
	border: 3px solid yellow;
}

input[type="checkbox"] {
	position: relative;
	top: 3px;
	 /* Taille de ....... */
	height: 40px; /* ...... la checkbox */
	background: pink; /* Couleur de fond de la checkbox */
	-webkit-appearance: none; /* Annule la forme de base de la checkbox */
	border-radius: 20px; /* Arrondi la forme de la checkbox */
	cursor: pointer; /* Modifie la forme du curseur de la souris flèche en main */
}

input[id="box-eco"] {
	width: 140px;
	outline: none;
}

input[id="box-fam"] {
	width: 115px;
	outline: none;
}

input[id="box-love"] {
	width: 135px;
	outline: none;
}

input[id="box-dog"] {
	width: 210px;
	outline: none;
}

input[type="checkbox"]::before {
	position: absolute;
	top: 1px; /* Centrage vertical du bouton */
	width: 35px; /* Design du ........ */
	height: 35px; /* ........ */
	background: #D2E3FE; /* ........ */
	border-radius: 50%; /* ........ bouton */
	z-index: 2; 
	color: #0065FC; /* Design et ........ */
	display: flex; /* .... alignement ........ */
	align-items: center; /* ........ */
	justify-content: center; /* ........ */
	font-weight: 900; /* ........ du texte ou icône */
	transform: scale(1.2); /* Mise à l'échelle du bouton */
}

/* Modif du btn */
input:checked[type="checkbox"]::before {
	background: white; /* Modif du bouton au ..... */
	color: #0065FC; /* ..... moment du clic */
}

input:checked[type="checkbox"][id="box-eco"]::before {
	left: 88%; /* Déplacement du bouton vers la droite */
	outline: none;
}

input:checked[type="checkbox"][id="box-fam"]::before {
	left: 70%; 
}

input:checked[type="checkbox"][id="box-love"]::before {
	left: 85%; 
}

input:checked[type="checkbox"][id="box-dog"]::before {
	left: 85%; 
}

input[type="checkbox"]:hover::before {
	background: #0065FC; /* Modif du bouton au ..... */
	color: white; /* ..... moment du clic */
}

/*.toggleBox { /****** A revoir avec le code Reservia ******/
	/*display: inline-flex;
	flex-wrap: wrap;
	justify-content: flex-start;*/
	/*max-width: 60%;
	display: flex;
	justify-content: space-between;
	padding-left: 125px;
	border: 3px solid yellow;
}*/

/* Design du texte de la checkbox */
label { 
	position: absolute; /* Permet la superposition */
	top: 442px;
	/*padding-left: 125px;*/
	display: flex;
	justify-content: flex-end;
	align-items: center;
	/*align-content: center;*/
	/*text-align: left;*/
	color: black;
	font-weight: 900;
	font-size: 16px;
	background-color: white; /**** A MODIFIER *****/
	width: 148px;
	height: 41px;
	border-radius: 20px;
	box-sizing: border-box; /* Permet de mettre un padding-right sur le texte sans modifier la width */
	/*padding-right: 5px;*/
	/*outline: none;*/
	border: 1px solid #CFCECE;
	transition: 2s;
}

#eco-btn {
	left: 175px;
	width: 160px;
	padding: 9px;
}

#fam-btn { 
	left: 385px;
	width: 120px;
	padding: 10px;
}

#love-btn { 
	left: 578px;
	width: 148px;
	padding: 10px;
}

#dog-btn { 
	left: 785px;
	width: 210px;
	padding: 12px;
}

#box-eco:checked ~ #eco-btn, #box-fam:checked ~ #fam-btn, 
#box-love:checked ~ #love-btn, #box-dog:checked ~ #dog-btn {
	background: #0065FC;
	border: none;
	color: white;
	box-sizing: border-box;
	/*padding-right: 55px;*/
	transition: 2s;
}
#box-eco:checked ~ #eco-btn {
	padding-right: 51px;
}

#box-fam:checked ~ #fam-btn {
	padding-right: 48px;
}

#box-love:checked ~ #love-btn {
	padding-right: 46px;
}

#box-dog:checked ~ #dog-btn {
	padding-right: 51px;
}

#info {
	width: 15px;
	height: 15px;
	color: #0065FC;
	border-radius: 50px;
	border: 1px solid #dfdede;
	padding: 5px;
	text-align: center;
	margin-right: 15px;
}

/* Container cartes hébergements */
#heb-pop {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#hebergements {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: #F2F2F2;
	border-radius: 25px;
	width: 65%;
	height: 670px;
	padding: 25px;
}

#hebergements h2 {
	margin: 0;
	position: relative;
	top: 15px;
}

/* Container heb1 */
.card-heb1 {
	display: block;
	width: 310px;
	height: 220px;
	margin: 20px; /* Centrage au centre de la page, ne pas oublier display block */
	padding: 4px; /* Contour autour de l'image */
	background-color: white;
	box-shadow: 0px 5px 20px #997; /* Ombrage */
	border-radius: 25px;
}

.card-heb1 a { /* Stylisation des liens */
	color: #333;
	text-decoration: none;
}

.card-heb1:hover .card-image-heb1 img {
	width: 120%; /* Zoom de l'image */
}
 /* Card-image heb1 */
.card-image-heb1 {
	/* Taille du conteneur de l'image, la taille entre toutes les img est respectée */
	height: 120px;
	position: relative; /* Car il y aura des éléments absolute à l'intérieur de lui */
	overflow: hidden; /* Tous les éléments qui peuvent déborder de notre bloc sont cachés, commme le contour de l'image */
	border-radius: 25px 25px 0 0 ;
}

.card-image-heb1 img {
	/* Centrage en f° de la taille de l'image */
	width: 100%; /* Penser à modifier selon la partie de l'img que l'on souhaite */
	position: absolute;
	top: 43%; /* Décale l'image de 50% du haut */
	left: 50%; /* Décale l'image de 50% de left */
	transform: translate(-50%, -50%); /* Centrage de l'image */
	/* Dynamiser grâce à une transition */
	transition-duration: .3s;
	transition-timing-function: ease;
}

/* Card-body heb1 */
.card-body-heb1 {
	width: 300px;
	line-height: 28px;
	/*height: 100px;*/
	text-align: left; /* Alignement de ts les éléments à l'intérieur de .card-body */
	padding: 15px 20px; /* Evite que les éléments soient collés, et ils sont décalés du rebord */
	box-sizing: border-box; /* Permet que le padding soit inclus dans notre bloc et non en plus du bloc */
}

.card-body-heb1 h4, .card-body-heb1 p {
	margin: 0;
	font-size: 20px;
}

.card-except-heb1 {
	color: #0065FC;
}

.card-except-heb1 i {
	color: #dad6d6;
	top: 50%;
	font-size: 14px;
}

.card-except-heb1 span {
	font-size: 14px;
}

#more {
	top: 10px;
	width: 100%;
	height: 40px;
	padding-left: 20px;
	color: black;
	font-weight: bold;
	text-decoration: none;
}

/* Container populaires 1 */
aside {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #F2F2F2;
	border-radius: 25px;
	width: 25%;
	height: 670px;
	padding: 25px;
}
#stats h2 {
	margin: 0;
	position: relative;
	float: left;
	top: 15px;
	left: -15px;
	width: 350px;
	font-size: 24px;
}
#stats i {
	position: relative;
	float: right;
	top: 15px;
	font-size: 30px;
}

.card-pop {
	position: relative;
	top: 30px;
}

.card-pop1, .card-pop2, .card-pop3 {
	width: 380px;
	height: 160px;
	margin-bottom: 40px; /* Centrage au centre de la page, ne pas oublier display block */
	padding: 2px; /* Contour autour de l'image */
	background-color: white;
	box-shadow: 0px 5px 20px #997; /* Ombrage */
	border-radius: 25px;
}

.card-pop1 a, .card-pop2 a, .card-pop3 a { /* Stylisation des liens */
	color: #333;
	text-decoration: none;
}

.card-pop1:hover .card-image-pop1 img { 
	width: 210%; /* Zoom de l'image */
}

.card-pop2:hover .card-image-pop2 img { 
	width: 210%; /* Zoom de l'image */
}

.card-pop3:hover .card-image-pop3 img { 
	width: 210%; /* Zoom de l'image */
}
 /* Card-image pop1, pop2, pop3 */
.card-image-pop1 {
	float: left;
	/* Taille du conteneur de l'image, la taille entre toutes les img est respectée */
	width: 150px;
	height: 150px;
	position: relative; /* Car il y aura des éléments absolute à l'intérieur de lui */
	top: 4px;
	left: 4px;
	overflow: hidden; /* Tous les éléments qui peuvent déborder de notre bloc sont cachés, commme le contour de l'image */
	border-radius: 25px 0px 0px 25px;
}

.card-image-pop1 img {
	/* Centrage en f° de la taille de l'image */
	width: 170%; /* Penser à modifier selon la partie de l'img que l'on souhaite */
	position: absolute;
	top: 49%; /* Décale l'image de 50% du haut */
	left: 10%; /* Décale l'image de 50% de left */
	transform: translate(-27%, -50%); /* Centrage de l'image */
	/* Dynamiser grâce à une transition */
	transition-duration: .3s;
	transition-timing-function: ease;
}

.card-image-pop2 {
	float: left;
	/* Taille du conteneur de l'image, la taille entre toutes les img est respectée */
	width: 150px;
	height: 150px;
	position: relative; /* Car il y aura des éléments absolute à l'intérieur de lui */
	top: 4px;
	left: 4px;
	overflow: hidden; /* Tous les éléments qui peuvent déborder de notre bloc sont cachés, commme le contour de l'image */
	border-radius: 25px 0px 0px 25px;
}

.card-image-pop2 img {
	/* Centrage en f° de la taille de l'image */
	width: 150%; /* Penser à modifier selon la partie de l'img que l'on souhaite */
	position: absolute;
	top: 50%; /* Décale l'image de 50% du haut */
	left: 10%; /* Décale l'image de 50% de left */
	transform: translate(-23%, -50%); /* Centrage de l'image */
	/* Dynamiser grâce à une transition */
	transition-duration: .3s;
	transition-timing-function: ease;
}

.card-image-pop3 {
	float: left;
	/* Taille du conteneur de l'image, la taille entre toutes les img est respectée */
	width: 150px;
	height: 150px;
	position: relative; /* Car il y aura des éléments absolute à l'intérieur de lui */
	top: 4px;
	left: 4px;
	overflow: hidden; /* Tous les éléments qui peuvent déborder de notre bloc sont cachés, commme le contour de l'image */
	border-radius: 25px 0px 0px 25px;
}

.card-image-pop3 img {
	/* Centrage en f° de la taille de l'image */
	width: 100%; /* Penser à modifier selon la partie de l'img que l'on souhaite */
	position: absolute;
	top: 50%; /* Décale l'image de 50% du haut */
	left: 10%; /* Décale l'image de 50% de left */
	transform: translate(-10%, -50%); /* Centrage de l'image */
	/* Dynamiser grâce à une transition */
	transition-duration: .3s;
	transition-timing-function: ease;
}

/* Card-body pop1 */
.card-body-pop1 {
	display: flex;
	flex-wrap: wrap;
	width: 220px;
	height: 160px;
	letter-spacing: 0.1px;
	/*text-align: right; /* Alignement de ts les éléments à l'intérieur de .card-body */
	padding: 0px 5px; /* Evite que les éléments soient collés, et ils sont décalés du rebord */
	box-sizing: border-box; /* Permet que le padding soit inclus dans notre bloc et non en plus du bloc */
}

.card-body-pop1 h4 {
	position: relative;
	top: -2px;
	margin: 10px;
	font-size: 20px;
}

.card-body-pop1 p {
	position: relative;
	top: -20px;
	margin: 10px;
	font-size: 16px;
}
.card-except-pop1 {
	margin: 10px;
	color: #0065fc;
}

.card-except-pop1 i {
	padding: 0;
	color: #dad6d6;
	position: relative;
	font-size: 14px;
}

.card-except-pop1 span {
	padding: 0;
	position: relative;
	font-size: 14px;
}

/* Container activités1 */
.activites-p1 {
	display: flex;
	flex-flow: wrap column;
	justify-content: space-between;
	align-content: space-between;
	height: 600px;
	width: 48%;
	padding-right: 10px;
}

.activites-p2 {
	display: flex;
	flex-flow: wrap column;
	justify-content: space-between;
	align-content: space-between;
	height: 600px;
	width: 48%;
	padding-left: 10px;
}
#activites {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	height: 750px;
	margin-top: 30px;
}

#activites h2 {
	margin: 0;
	padding: 0; 
	position: relative;
	width: 100%;
	top: 40px;
}

.card-activites1 {
	width: 380px;
	height: 620px;
	display: block;
	background-color: white;
	box-shadow: 0px 5px 20px #997; /* Ombrage */
	border-radius: 25px;
}

.card-activites1 a {
	color: #333;
	text-decoration: none;
}

.card-activites1:hover .card-image-activites1 img {
	width: 250%; 
}

/* Card-image activités1*/
.card-image-activites1 {
	height: 528px;
	position: relative; 
	overflow: hidden; 
	border-radius: 25px 25px 0px 0px ;
}

.card-image-activites1 img {
	width: 220%; /* Taille de l'image */
	position: absolute;
	top: 10%; 
	left: 50%; 
	transform: translate(-50%, -10%); 
	transition-duration: .3s;
	transition-timing-function: ease;
}

/* Card-body activités1 */
.card-body-activites1 {
	text-align: left; 
	padding: 2px 30px; 
	box-sizing: border-box; 
}

.card-title-activites1, .card-except-activites1 {
	line-height: 3px;
}

.card-title-activites1 {
	position: relative;
	top: 10px;
	font-size: 16px;
}
.card-except-activites1 {
	font-size: 15px;
}

/* Container activités2 */
.card-activites2 {
	width: 380px;
	height: 310px;
	display: block;
	background-color: white;
	box-shadow: 0px 5px 20px #997; 
	border-radius: 25px;
}

.card-activites2 a {
	color: #333;
	text-decoration: none;
}

.card-activites2:hover .card-image-activites2 img {
	width: 120%; 
}

/* Card-image activités2*/
.card-image-activites2 {
	height: 230px;
	position: relative; 
	overflow: hidden; 
	border-radius: 25px 25px 0px 0px ;
}

.card-image-activites2 img {
	width: 100%; 
	position: absolute;
	top: 43%; 
	left: 50%; 
	transform: translate(-50%, -41%); 
	transition-duration: .3s;
	transition-timing-function: ease;
}

/* Card-body activités2 */
.card-body-activites2 {
	text-align: left; 
	padding: 2px 30px; 
	box-sizing: border-box; 
}

.card-title-activites2, .card-except-activites2 {
	line-height: 3px;
	padding-left: 8px;
}

.card-title-activites2 {
	position: relative;
	top: 15px;
	font-size: 16px;
}
.card-except-activites2 {
	font-size: 15px;
}

/* Container activités3 */
.card-activites3 {
	width: 380px;
	height: 210px;
	display: block;
	background-color: white;
	box-shadow: 0px 5px 20px #997; 
	border-radius: 25px;
}

.card-activites3 a {
	color: #333;
	text-decoration: none;
}

.card-activites3:hover .card-image-activites3 img {
	width: 120%; 
}

/* Card-image activités3 */
.card-image-activites3 {
	height: 140px;
	position: relative; 
	overflow: hidden; 
	border-radius: 25px 25px 0px 0px ;
}

.card-image-activites3 img {
	width: 100%; 
	position: absolute;
	top: 43%; 
	left: 50%; 
	transform: translate(-50%, -31%); 
	transition-duration: .3s;
	transition-timing-function: ease;
}

/* Card-body activités3 */
.card-body-activites3 {
	text-align: left; 
	padding: 2px 30px; 
	box-sizing: border-box; 
}

.card-title-activites3, .card-except-activites3 {
	line-height: 3px;
	padding-left: 8px;
}

.card-title-activites3 {
	position: relative;
	top: 10px;
	font-size: 16px;
}
.card-except-activites3 {
	font-size: 15px;
}

/* Footer */
footer {
	width: 100%;
	padding: 30px 0;
	display: flex;
	background-color: #F2F2F2;
	border: 5px solid blue;
}

footer ul {
	padding: 0;
}

footer li {
	line-height: 30px;
	font-size: 20px;
}

footer li a {
	text-decoration: none;
	color: black;
}
footer h3 {
	margin-bottom: 0;
}
#fpropos {
	width: 33%;
	text-align: left;
}

#fhebergements {
	width: 33%;
}

#fassistance {
	width: 33%;
}

@media all and (max-width: 375px)
{
	header 
	{
		width: auto;	
	}

	header nav ul li 
	{
		border: 5px solid #F2F2F2;
	}

	header nav ul li:hover 
	{
		display: none;
	}

	footer
	{
		flex-direction: column;
	}
}








