#conteneur {
	width: 100%;
	margin: 0 auto; 
}

/******************************************** REGLER LE PB STAR CARTE AMINA ET PORT ****************************************/
body {
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 24px;
}

p {
	font-size: 18px;
}

ul {
	list-style: none;
}

/* Header */
header {
	width: 100%;
	display: grid;
	grid-template-columns: 2% 16% 80% 2%;
	justify-items: end;
	/*display: flex;*/
	align-content: center;
	padding: 20px 0;
	/*border: 3px solid red;*/
}
 header img {
 	grid-column: 2;
 	align-self: end;
 	justify-self: start;
 }
header nav {
	width: 55%;
	text-align: right;
	grid-column: 3;
	align-self: end;
	/*border: 3px solid yellow;*/
}
header nav ul {
	text-decoration: none;
}

header nav ul li {
	display: inline-block;
}

header nav ul li a {
	display: inline-block;
	position: relative;
	/*padding: 25px;*/
	color: black;
	text-decoration: none;
	font-size: 20px;
	margin: 0 15px;
}

header nav ul li a:hover {
	color: #0065FC;
}

header nav ul li a:after {
	position: absolute;
	bottom: 68px;
	left: 0;
	/*margin: auto;*/
	content: "";
	background: #0065FC;
	height: 4px;
}

header nav ul li a:hover:after {
	width: 100%;
}

h2 {
	width: 100%;
	height: 30px;
	font-size: 24px;
	padding-left: 20px;
}

#navins a {
	color: #0065FC;
	font-weight: bold;
}

/* Main section zone de recherche */
section {
	width: 100%;
}

h1 {
	margin: 0;
}

#recherche {
	margin-left: 35px;
}

#recherche #lieu {
	margin: 10px 0;
	letter-spacing: 1px;
}

#search-bar {
	margin-top: 20px;
	width: 38%;
	display: flex;
	box-sizing: border-box;
}

#location {
	background-color: #F2F2F2;
	text-align: center;
	font-size: 24px;
	border-radius: 14px 0 0 14px;
	padding: 14px;
	width: 10%;
	height: 32px;
}

#search-bar input {
	padding-left: 20px;
	font-size: 20px;
	outline-color: #0065FC;
	border: 1px solid #F2F2F2;
}

input {
	width: 100%;
}

input #search {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 20px;
	padding-left: 20px;
}



::placeholder {
	color: black;
	font-weight: 800;
	font-size: 20px;
	/*padding-left: 20px;*/
}

button {
	font-size: 20px;
	color: white;
	font-weight: 600;
	background-color: #0065FC;
	border: none;
	border-radius: 0 14px 14px 0;
	padding: 13px;
	width: 30%;
	height: 60px;
}

button::before {
	content: "Rechercher";
}

button:hover {
	color: #0065FC;
	background: lightblue;
	cursor: pointer;
}

/* Filtres */
.toggleBox {
	width: 75%;
	display: flex;
	grid-gap: 20px; 
	justify-content: flex-start;
	align-items: center;
	margin: 10px 0 0 0;
	box-sizing: border-box;
	/*border: 1px solid purple;*/
}

.toggleBox p {
	font-size: 20px;
	color: black;
	font-weight: 900;
	margin: 0;
}

.toggle {
	/*background: blue;*/
	/*box-sizing: border-box;
	/*display: flex;
	flex-wrap: wrap;*/

}

input[type="checkbox"] {
	position: relative;
	top: 26px;
	 /* Taille de ....... */
	height: 40px; /* ...... la checkbox */
	background: white; /* Couleur de fond de la checkbox */
	-webkit-appearance: none; /* Annule la forme de base de la checkbox */
	border-radius: 20px; /* Arrondi la forme de la checkbox */
	cursor: pointer; /* Modifie la forme du curseur de la souris flèche en main */
}

input[id="box-eco"] {
	width: 155px;/*****************************/
	outline: none;
}

input[id="box-fam"] {
	width: 115px;
	outline: none;
}

input[id="box-love"] {
	width: 135px;
	outline: none;
}

input[id="box-dog"] {
	width: 210px;
	outline: none;
}

input[type="checkbox"]::before {
	position: absolute;
	top: 2%; /* Centrage vertical du bouton */
	width: 50px; /* Design du ........ */
	height: 50px; /* ........ */
	background: #D2E3FE; /* ........ */
	border-radius: 50%; /* ........ bouton */
	z-index: 2; 
	color: #0065FC; /* Design et ........ */
	display: flex; /* .... alignement ........ */
	align-items: center; /* ........ */
	justify-content: center; /* ........ */
	font-weight: 900; /* ........ du texte ou icône */
	transform: scale(1.2); /* Mise à l'échelle du bouton */
}

/* Modif du btn */
input:checked[type="checkbox"]::before {
	background: white; /* Modif du bouton au ..... */
	color: #0065FC; /* ..... moment du clic */
	opacity: 0.5;/**************/
}

input:checked[type="checkbox"][id="box-eco"]::before {
	left: 95%; /* Déplacement du bouton vers la droite */
	outline: none;
}

input:checked[type="checkbox"][id="box-fam"]::before {
	left: 89%; 
}

input:checked[type="checkbox"][id="box-love"]::before {
	left: 102%; 
}

input:checked[type="checkbox"][id="box-dog"]::before {
	left: 96%; 
}

input[type="checkbox"]:hover::before {
	background: #0065FC; /* Modif du bouton au ..... */
	color: white; /* ..... moment du clic */
}

/*.toggleBox { /****** A revoir avec le code Reservia ******/
	/*display: inline-flex;
	flex-wrap: wrap;
	justify-content: flex-start;*/
	/*max-width: 60%;
	display: flex;
	justify-content: space-between;
	padding-left: 125px;
	border: 3px solid yellow;
}*/

/* Design du texte de la checkbox */
label { 
	position: relative; /* Permet la superposition *//******************/
	bottom: 25px;
	/*padding-left: 125px;*/
	display: flex;
	justify-content: flex-end;
	align-items: center;
	/*align-content: center;
	/*text-align: left;*/
	color: black;
	font-weight: 900;
	font-size: 20px;
	background-color: white; /**** A MODIFIER *****/
	width: 148px;
	height: 60px;
	border-radius: 50px;
	box-sizing: border-box; /* Permet de mettre un padding-right sur le texte sans modifier la width */
	/*padding-right: 5px;*/
	/*outline: none;*/
	border: 3px solid #CFCECE;
	transition: 2s;
}

#eco-btn {
	/*left: 175px;*/
	width: 205px;/***************/
	padding: 13px;
	/*opacity: 0.5;/*********************/
}

#fam-btn { 
	/*left: 385px;*/
	width: 160px;
	padding: 12px;
}

#love-btn { 
	/*left: 578px;*/
	width: 195px;
	padding: 12px;
}

#dog-btn { 
	/*left: 785px;*/
	width: 260px;
	padding: 12px;
}

#box-eco:checked ~ #eco-btn, #box-fam:checked ~ #fam-btn, 
#box-love:checked ~ #love-btn, #box-dog:checked ~ #dog-btn {
	background: #0065FC;
	border: none;
	color: white;
	box-sizing: border-box;
	/*padding-right: 55px;*/
	transition: 2s;
}
#box-eco:checked ~ #eco-btn {
	padding-right: 70px;
}

#box-fam:checked ~ #fam-btn {
	padding-right: 70px;
}

#box-love:checked ~ #love-btn {
	padding-right: 68px;
}

#box-dog:checked ~ #dog-btn { 
	padding-right: 68px;
}

#info {
	width: 15px;
	height: 15px;
	color: #0065FC;
	border-radius: 50px;
	border: 1px solid #dfdede;
	padding: 5px;
	text-align: center;
	margin-right: 15px;
	/*margin-bottom: 25px;*/
}

/* Container cartes hébergements */
main {
	width: 100%;
}

#heb-pop {
	width: 88%;
	display: grid;
	grid-template-columns: 70% 30%;
	grid-gap: 80px;
	justify-content: center;
	/*display: flex;
	flex-wrap: wrap;
	justify-content: space-between;*/
	margin-top: 30px;
	margin-left: 80px;
}

#hebergements {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 2% auto auto 3%; 
	grid-gap: auto;
	justify-content: start;
	align-content: space-around;
	justify-items: end;
	/*grid-auto-flow: row;*/
	background-color: #F2F2F2;
	border-radius: 25px;
	width: 100%;
	height: 570px;
	padding: 25px;
}

#hebergements h2 {
	margin: 0;
	grid-column: span 3;
	/*position: relative;
	/*top: 1px;*/
}

/* Container heb1 */
#grid-heb1 {
	grid-column: 1;
	grid-row: 2;
}

#grid-heb2 {
	grid-column: 2;
	grid-row: 2;
}

#grid-heb3 {
	grid-column: 3;
	grid-row: 2;
}

#grid-heb4 {
	grid-column: 1;
	grid-row: 3;
}

#grid-heb5 {
	grid-column: 2;
	grid-row: 3;
}

#grid-heb6 {
	grid-column: 3;
	grid-row: 3;
}

.card-heb1 {
	width: 82%;
	height: 190px;
	margin: 15px; /* Centrage au centre de la page, ne pas oublier display block */
	padding: 4px; /* Contour autour de l'image */
	background-color: white;
	box-shadow: 0px 5px 18px #D8D7D7; /* Ombrage */
	border-radius: 25px;
}

.card-heb1 a { /* Stylisation des liens */
	color: #333;
	text-decoration: none;
}

.card-heb1:hover .card-image-heb1 img {
	width: 120%; /* Zoom de l'image */
}
 /* Card-image heb1 */
.card-image-heb1 {
	/* Taille du conteneur de l'image, la taille entre toutes les img est respectée */
	height: 120px;
	position: relative; /* Car il y aura des éléments absolute à l'intérieur de lui */
	overflow: hidden; /* Tous les éléments qui peuvent déborder de notre bloc sont cachés, commme le contour de l'image */
	border-radius: 25px 25px 0 0 ;
}

.card-image-heb1 img {
	/* Centrage en f° de la taille de l'image */
	width: 100%; /* Penser à modifier selon la partie de l'img que l'on souhaite */
	position: absolute;
	top: 43%; /* Décale l'image de 50% du haut */
	left: 50%; /* Décale l'image de 50% de left */
	transform: translate(-50%, -50%); /* Centrage de l'image */
	/* Dynamiser grâce à une transition */
	transition-duration: .3s;
	transition-timing-function: ease;
}

/* Card-body heb1 */
.card-body-heb1 {
	width: 100%;
	line-height: 20px;
	/*height: 100px;*/
	text-align: left; /* Alignement de ts les éléments à l'intérieur de .card-body */
	padding: 5px 10px; /* Evite que les éléments soient collés, et ils sont décalés du rebord */
	box-sizing: border-box; /* Permet que le padding soit inclus dans notre bloc et non en plus du bloc */
}

.card-body-heb1 h4, .card-body-heb1 p {
	margin: 0;
	font-size: 16px;
}

.card-body-heb1 p {
	margin: 0;
	font-size: 14px;
}

.card-except-heb1 {
	color: #0065FC;
	font-size: 1px;
}

.card-except-heb1 i {
	color: #dad6d6;
	line-height: 25px;
	font-size: 12px;
}

.card-except-heb1 span {
	line-height: 25px;
	font-size: 12px;
}

#more {
	grid-column: 1;
	grid-row: 4;
	justify-self: start;
	align-self: end;
	width: 50%;
	height: 40px;
	padding-left: 0 0 0 20px ;
	margin: 0;
	color: black;
	font-weight: bold;
	text-decoration: none;
}

#more:hover {
	color: #0065FC;
}

/* Container populaires 1 */
aside {
	display: grid;
	grid-template-columns: 90% 5% 5%;
	grid-template-rows: 3% 29% 29% 29%; 
	align-content: center;
	align-items: end;
	grid-row-gap: 15px;
	background-color: #F2F2F2;
	border-radius: 25px;
	width: 90%;
	height: 570px;
	padding: 25px;
}
/*
#stats {
	/*display: flex;
	justify-content: flex-end;*/
	/*grid-column: 1;
	grid-row: 1;
	border: 1px solid green;
}*/

aside h2 {
	margin-top: 40px;
	padding: 0;
	/*display: flex;*/
	grid-column: 1;
	grid-row: 1;
	justify-self: start;
	align-self: center;
	width: 85%;
	font-size: 24px;
	/*border: 1px solid orange;*/
}

span i {
	/*margin-bottom: 1px;*/
	
}

.stats {
	font-size: 30px;
	grid-column: 2 / span 3;
	grid-row: 1;
	align-self: start;
	/*border: 1px solid blue;*/
}
/*
svg.fa-line-chart {
	grid-column: 1;
	grid-row: 2;
	margin-top: 5px;

}*/

/*
.card-pop {
	right: 4px;
	width: 100%;
	height: 480px;
	border: 1px solid red;
	/*display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}*/

.card-pop1 {
	grid-column: 1 / span 3;
	grid-row: 2;
	margin-bottom: 7px;
}

.card-pop2 {
	grid-column: 1 / span 3;
	grid-row: 3;
	margin-bottom: 7px;
}

.card-pop3 {
	grid-column: 1 / span 3;
	grid-row: 4;
	margin-bottom: 7px;
}

.card-pop1, .card-pop2, .card-pop3 {
	width: 100%;
	height: 130px;
	padding: 4px; /* Contour autour de l'image */
	background-color: white;
	box-shadow: 0px 5px 18px #D8D7D7; /* Ombrage */
	border-radius: 25px;
}

.card-pop1 a, .card-pop2 a, .card-pop3 a { /* Stylisation des liens */
	color: #333;
	text-decoration: none;
}

.card-pop1:hover .card-image-pop1 img { 
	width: 210%; /* Zoom de l'image */
}

.card-pop2:hover .card-image-pop2 img { 
	width: 210%; /* Zoom de l'image */
}

.card-pop3:hover .card-image-pop3 img { 
	width: 210%; /* Zoom de l'image */
}
 /* Card-image pop1, pop2, pop3 */
.card-image-pop1 {
	float: left;
	/* Taille du conteneur de l'image, la taille entre toutes les img est respectée */
	width: 130px;
	height: 130px;
	position: relative; /* Car il y aura des éléments absolute à l'intérieur de lui */
	overflow: hidden; /* Tous les éléments qui peuvent déborder de notre bloc sont cachés, commme le contour de l'image */
	border-radius: 25px 0px 0px 25px;
}

.card-image-pop1 img {
	/* Centrage en f° de la taille de l'image */
	width: 170%; /* Penser à modifier selon la partie de l'img que l'on souhaite */
	position: absolute;
	top: 49%; /* Décale l'image de 50% du haut */
	left: 10%; /* Décale l'image de 50% de left */
	transform: translate(-27%, -50%); /* Centrage de l'image */
	/* Dynamiser grâce à une transition */
	transition-duration: .3s;
	transition-timing-function: ease;
}

.card-image-pop2 {
	float: left;
	/* Taille du conteneur de l'image, la taille entre toutes les img est respectée */
	width: 130px;
	height: 130px;
	position: relative; /* Car il y aura des éléments absolute à l'intérieur de lui */
	overflow: hidden; /* Tous les éléments qui peuvent déborder de notre bloc sont cachés, commme le contour de l'image */
	border-radius: 25px 0px 0px 25px;
}

.card-image-pop2 img {
	/* Centrage en f° de la taille de l'image */
	width: 150%; /* Penser à modifier selon la partie de l'img que l'on souhaite */
	position: absolute;
	top: 50%; /* Décale l'image de 50% du haut */
	left: 10%; /* Décale l'image de 50% de left */
	transform: translate(-23%, -50%); /* Centrage de l'image */
	/* Dynamiser grâce à une transition */
	transition-duration: .3s;
	transition-timing-function: ease;
}

.card-image-pop3 {
	float: left;
	/* Taille du conteneur de l'image, la taille entre toutes les img est respectée */
	width: 130px;
	height: 130px;
	position: relative; /* Car il y aura des éléments absolute à l'intérieur de lui */
	overflow: hidden; /* Tous les éléments qui peuvent déborder de notre bloc sont cachés, commme le contour de l'image */
	border-radius: 25px 0px 0px 25px;
}

.card-image-pop3 img {
	/* Centrage en f° de la taille de l'image */
	width: 100%; /* Penser à modifier selon la partie de l'img que l'on souhaite */
	position: absolute;
	top: 50%; /* Décale l'image de 50% du haut */
	left: 10%; /* Décale l'image de 50% de left */
	transform: translate(-10%, -50%); /* Centrage de l'image */
	/* Dynamiser grâce à une transition */
	transition-duration: .3s;
	transition-timing-function: ease;
}

/* Card-body pop1 */
.card-body-pop1 {
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	height: 130px;
	letter-spacing: 0.1px;
	/*text-align: right; /* Alignement de ts les éléments à l'intérieur de .card-body */
	padding: 0px 5px; /* Evite que les éléments soient collés, et ils sont décalés du rebord */
	box-sizing: border-box; /* Permet que le padding soit inclus dans notre bloc et non en plus du bloc */
}

.card-body-pop1 h4 {
	position: relative;
	margin: 10px 0 0 10px;
	font-size: 14px;
}

.card-body-pop1 p {
	position: relative;
	margin: 0 10px;
	font-size: 12px;
}
.card-except-pop1 {
	margin: 10px;
	color: #0065fc;
	font-size: 5px;
	padding-top: 30px;
}

.card-except-pop1 i {
	padding: 0;
	color: #dad6d6;
	position: relative;
	font-size: 12px;
}

.card-except-pop1 span {
	padding: 0;
	position: relative;
	font-size: 12px;
}

/**************************************************************************************************************************************/
/**************************************************************************************************************************************/
/* Container activités1 */
#activites {
	display: grid;
	grid-template-columns: 24% 24% 24% 24%;
	grid-template-rows: 8% 92%;
	/*grid-auto-flow: row;*/
	justify-content: center;
	align-items: center;
	column-gap: 40px;
	/*display: flex;
	/*justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;*/
	/*flex-direction: column;*/
	width: 90%;
	margin-left: 70px;
	height: 620px;
	box-sizing: border-box;
	/*margin-top: 30px;*/
	/*border: 3px solid green;*/
}

#grid-act2, #grid-act4 {
	display: grid;
	grid-template-columns: 1;
	grid-template-rows: 2;
	/*grid-gap: 30px;*/
}
/*
#grid-act1 {
	grid-column: 1;
	grid-row: 2;
}*/

#grid-act2 {
	grid-column: 2;
	grid-row: 2;
	align-content: space-between;
	grid-row-gap: 70px;
	/*border: 3px solid red;*/
}

#grid-act3 {
	grid-column: 3;
	grid-row: 2;
}

#grid-act4 {
	grid-column: 4;
	grid-row: 2;
	align-content: space-between;
	grid-row-gap: 70px;
	/*border: 3px solid blue;*/
}

#activites h2 {
	grid-column: span 4;
	grid-row: 1;
	margin: 0;
	padding: 0; 
	position: relative;
	width: 100%;
	top: 20px;
}
/*
.activites-p1p2 {
	/*display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	/*flex-flow: wrap column;
	justify-content: space-between;
	align-content: space-between;*/
	/*height: 500px;
	width: 100%;*/
	/*width: 100%;
	/*padding-right: 10px;*/
	/*box-sizing: border-box;
	/*border: 3px solid purple;
}*/
/*
.activites-p2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	height: 500px;
	/*width: 48%;*/
	/*width: 47%;
	/*padding-left: 10px;*/
	/*box-sizing: border-box;
	/*border: 3px solid yellow;
}

#cd-a2-a3 {
	width: 45%;
	/*height: 620px;*/
	/*display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	/*border: 3px solid green;
}

#cd-a3-a2 {
	width: 45%;
	/*height: 620px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	/*border: 3px solid green;
}*/

/* Container activités1 */
.card-activites1, .card-activites4 {
	/*width: 380px;*/
	grid-column: 1;
	grid-row: 2;
	width: 100%;
	height: 510px;
	/*display: block;*/
	background-color: white;
	box-shadow: 0px 5px 18px #E7E7E7; /* Ombrage */
	border-radius: 25px;
	/*border: 1px solid red;*/
	box-sizing: border-box;
}

.card-activites1 a, .card-activites4 a {
	color: #333;
	text-decoration: none;
}

.card-activites1:hover .card-image-activites1 img, 
.card-activites4:hover .card-image-activites1 img {
	width: 300%; 
}

/* Card-image activités1*/
.card-image-activites1 {
	height: 450px;
	position: relative; 
	overflow: hidden; 
	border-radius: 25px 25px 0px 0px;
	/*box-sizing: border-box;*/
}

.card-image-activites1 img {
	width: 277%; /* Taille de l'image */
	position: absolute;
	top: 10%; 
	left: 63%; 
	transform: translate(-57%, -10%); 
	transition-duration: .3s;
	transition-timing-function: ease;
	box-sizing: border-box;
}

/* Card-body activités1 */
.card-body-activites1 {
	text-align: left; 
	padding: 2px 20px; 
	box-sizing: border-box; 
}

.card-title-activites1, .card-except-activites1 {
	line-height: 3px;
}

.card-title-activites1 {
	position: relative;
	/*top: 0px;*/
	font-size: 16px;
}
.card-except-activites1 {
	font-size: 15px;
}

/* Container activités2 */
.card-activites2, .card-activites6  {
	/*width: 380px;*/
	width: 100%;
	height: 260px;
	/*display: block;*/
	background-color: white;
	box-shadow: 0px 5px 18px #E7E7E7; 
	border-radius: 25px;
	box-sizing: border-box;
	/*border: 1px solid orange;*/
}

.card-activites2 a, .card-activites6 a {
	color: #333;
	text-decoration: none;
}

.card-activites2:hover .card-image-activites2 img,
.card-activites6:hover .card-image-activites2 img {
	width: 150%; 
}

/* Card-image activités2*/
.card-image-activites2 {
	height: 210px;
	position: relative; 
	overflow: hidden; 
	border-radius: 25px 25px 0px 0px;
	box-sizing: border-box;
}

.card-image-activites2 img {
	width: 120%; 
	position: absolute;
	top: 43%; 
	left: 50%; 
	transform: translate(-50%, -38%); 
	transition-duration: .3s;
	transition-timing-function: ease;
}

/* Card-body activités2 */
.card-body-activites2 {
	text-align: left; 
	padding: 2px 20px; 
	box-sizing: border-box; 
}

.card-title-activites2, .card-except-activites2 {
	line-height: 3px;
	padding-left: 8px;
}

.card-title-activites2 {
	position: relative;
	/*top: 0px;*/
	font-size: 16px;
}
.card-except-activites2 {
	font-size: 15px;
}

/* Container activités3 */
.card-activites3, .card-activites5  {
	/*width: 380px;*/
	width: 100%;
	height: 180px;
	/*display: block;*/
	background-color: white;
	box-shadow: 0px 5px 18px #E7E7E7; 
	border-radius: 25px;
	box-sizing: border-box;
	/*border: 1px solid purple;*/
}

.card-activites3 a, .card-activites5 a {
	color: #333;
	text-decoration: none;
}

.card-activites3:hover .card-image-activites3 img,
.card-activites5:hover .card-image-activites3 img {
	width: 150%; 
}

/* Card-image activités3 */
.card-image-activites3 {
	height: 129px;
	position: relative; 
	overflow: hidden; 
	border-radius: 25px 25px 0px 0px;
	box-sizing: border-box;
}

.card-image-activites3 img {
	width: 120%; 
	position: absolute;
	top: 43%; 
	left: 50%; 
	transform: translate(-50%, -28%); 
	transition-duration: .3s;
	transition-timing-function: ease;
}

/* Card-body activités3 */
.card-body-activites3 {
	text-align: left; 
	padding: 2px 20px; 
	box-sizing: border-box; 
}

.card-title-activites3, .card-except-activites3 {
	line-height: 3px;
	padding-left: 8px;
}

.card-title-activites3 {
	position: relative;
	/*top: 1px;*/
	font-size: 16px;
}
.card-except-activites3 {
	font-size: 15px;
}

/**************************************************************************************************************************************/
/**************************************************************************************************************************************/


/* Footer */
footer {
	width: 100%;
	margin: 0;
	padding: 0;
	/*flex-wrap: wrap;
	align-content: space-between;*/
	margin-top: 40px;
	height: 100%;
	background-color: #F2F2F2;
}

#footer-infos {

	display: grid;
	grid-template-columns: 30% 30% 30%;
	margin-left: 30px;
	/*flex-wrap: wrap;
	padding-top: 15px;
	/*align-content: center;*/
	/*justify-content: space-around;*/
	/*width: 100%;
	background-color: #F2F2F2;*/
}

footer ul {
	padding: 0;
}

footer li {
	line-height: 30px;
	font-size: 16px;
}

footer li a {
	text-decoration: none;
	color: black;
}

footer li a:hover {
	color: #0065FC;
}

footer h3 {
	margin-bottom: 0;
}/*
#fpropos {
	/*width: 33%;
	text-align: left;
}

#fhebergements {
	/*width: 33%;
}

#fassistance {
	/*width: 33%;
}
/*************************************************/
/*****************************************************/
/***************** Responsive **********************/
@media only screen and (max-width: 480px)
{
	#conteneur {
		width: 100%;
	}

	body 
	{
		margin: 0;
		/*width: auto;*/
	}

	header {
		width: 100%;
	}

	header img {
		margin-bottom: 25px;
	}

	header nav ul {
		width: 480px;
		height: 70px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap-reverse;
		justify-content: flex-end;
		position: relative;
		top: 95px; /***************a modif si besoin *****************/
		right: 285px;
		box-sizing: content-box;
		padding: 0;
		/*position: relative;*/
	}

	header nav ul li {
		width: 240px;
		/*height: 4px;*/
		text-align: center;
	}

	.navheb, .navact {
		padding: 10% 0;
	}

	#navins {
		text-align: right;
		/*padding-right: 10px;*/
	}

	.navheb:before {
	position: absolute;
	content: "";
	background: lightgrey;
	width: 96%;
	height: 4px;
	top: 35px;
	}

	header nav ul li a {
	
	}

	header nav ul li a:before {
	}

	header nav ul li a:hover {
	color: #0065FC;
	width: 100%;
	}

	header nav ul li a:after {
	position: absolute;
	top: 37px;
	left: 0;
	height: 4px;
	}


	#recherche {
		width: 100%;
		margin-top: 50px;
		margin-left: 0;
		padding: 0 0 0 25px;
	}

	#recherche h1 {
		width: 90%;
		margin: 0;
	}

	#search-bar {
		margin-top: 20px;
		width: 80%;
	}

	button { /******************** Icône à rajouter et ôter le texte *************************/
		position: absolute;
		width: 14%;
		border-radius: 30%;
		left: 78%;
	}

	button::before {
		font-family: "Font Awesome 5 Free"; 
    	font-weight: 900; 
    	color: white;
    	content: "\f002"; 
	}

	.toggleBox {
		display: grid;
		grid-template-columns: 33% 33% 33%;
		grid-template-rows: 50px 50px 50px 50px;
		box-sizing: border-box;
		grid-gap: 25px 100px;
		/*flex-wrap: wrap;*/
		/*justify-content: space-between;*/
		/*align-items: stretch;
		/*position: relative;
		top: 20px;
		display: flex;
		flex-wrap: wrap;
		/*flex-direction: column;*/
		/*border: 1px solid red;*/
		height: 40%;
		width: 100%;
	}

	.toggleBox p {
		grid-column: 1;
		grid-row: 1;
		/*width: 100%;
		margin: 0;*/
	}

	#grid-eco {
		grid-column: 1;
		grid-row: 2;
	}

	#grid-fam {
		grid-column: 2;
		grid-row: 2;
	}

	#grid-love {
		grid-column: 1;
		grid-row: 3;
	}

	#grid-dog {
		grid-column: 1;
		grid-row: 4;
	}

	#toggle-p {
		width: 100%;
		margin-left: 5px;
	}

	#heb-pop {
		width: 100%;
		margin: 0;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 30% 70%;
		grid-row-gap: 5px;
	}

	#hebergements {
		grid-row: 2;
		/*grid-template-columns: 33% 33% 33%;*/
		grid-template-rows: 2% repeat(6, 1fr) 2%;
		grid-row-gap: 15px;
		justify-items: center;
		/*flex-wrap: wrap;*/
		padding-top: 0;
		width: 88%;
		height: 100%;
		/*padding: 20px;
		/*flex-direction: column;*/
		background: none;
		border-radius: 0;
	}

	#hebergements h2 {
		grid-column: span 3;
		grid-row: 1;
		margin-right: 20px;
	}

	#grid-heb1 {
		margin: 0;
		grid-column: span 3;
		grid-row: 2;
		width: 100%;
	}

	#grid-heb2 {
		margin: 0;
		grid-column: span 3;
		grid-row: 3;
		width: 100%;
	}

	#grid-heb3 {
		margin: 0;
		grid-column: span 3;
		grid-row: 4;
		width: 100%;
	}

	#grid-heb4 {
		margin: 0;
		grid-column: span 3;
		grid-row: 5;
		width: 100%;
	}

	#grid-heb5 {
		margin: 0;
		grid-column: span 3;
		grid-row: 6;
		width: 100%;
	}

	#grid-heb6 {
		margin: 0;
		grid-column: span 3;
		grid-row: 7;
		width: 100%;
	}

	#more {
		grid-column: span 3;
		grid-row: 8;
		margin-left: 12px;
		width: 30%;
	}

	aside {
		grid-row-gap: 1px;
		border-radius: 0;
		width: 100%;
		height: 90%;
		justify-items: center;
		padding: 0 0 20px 0;
	}

	aside h2 {
		margin-left: 25px;
		margin-bottom: 45px;
	}

	.stats {
		align-self: end;
		margin-right: 20px;
	}

	.card-pop1, .card-pop2, .card-pop3 {
		width: 88%;
		margin-bottom: 0;
	}

	#activites {
	grid-template-columns: 1fr;
	grid-template-rows: 0.2fr 0.5fr 1fr 0.5fr;
	justify-items: center;
	grid-row-gap: 15px;
	/*justify-content: space-between;
	/*align-content: space-between;
	flex-wrap: wrap;
	/*flex-direction: column;*/
	margin: 0;
	width: 100%;
	height: 100%;
	/*box-sizing: border-box;
	/*margin-top: 30px;*/
	/*margin: 0 auto;
	padding: 0 auto;*/
	}
/*
	#grid-act2 {
	display: initial;
	grid-template-columns: 50% 50%;
	grid-row: 1;
	}*/

	#activites h2 {
		/*width: 100%;*/
		height: 20px;
		margin-left: 75px;
		grid-column: 1;
		grid-row: 1;
	}

	.card-activites1, .card-activites2, .card-activites3,
	.card-activites4, .card-activites5, .card-activites6 {
	/*width: 380px;*/
		/*grid-column: 1;
		grid-row: 2;*/
		width: 400px;
		height: 185px;
		/*margin-left: 55px;*/
	}

	.card-image-activites1, .card-image-activites2, .card-image-activites3,
	.card-image-activites4, .card-image-activites5, .card-image-activites6 {
		height: 135px;
	}

	

	.card-activites1 {
		grid-column: 1;
		grid-row: 2;
		/*margin-left: 520px;
		/*align-content: space-between;*
		grid-row-gap: 70px;*/
	}

	#grid-act2 {
		grid-column: 1;
		grid-row: 3;
		grid-row-gap: 15px;
	}
/*
	.card-activites3 {
		grid-column: 1;
		grid-row: 4;
		height: 100%;
		border: 1px solid blue;
	}*/
/*
	.card-activites4 {
		grid-column: 1;
		grid-row: 2;
		border: 3px solid purple;
	}*/

	#grid-act3 {
		grid-column: 1;
		grid-row: 4;
	}

	#grid-act4 {
		grid-column: 1;
		grid-row: 5;
		grid-row-gap: 15px;
	}
/*
	.card-image-activites1,  {
		height: 129px;
		position: relative; 
		overflow: hidden; 
		border-radius: 25px 25px 0px 0px;
		box-sizing: border-box;
	}*/

	.card-image-activites1 img  {
		width: 100%; 
		position: absolute;
		top: 15%; 
		left: 50%; 
		transform: translate(-50%, -28%); 
		transition-duration: .3s;
		transition-timing-function: ease;
	}

	.card-image-activites2 img {
		width: 100%; 
		position: absolute;
		top: 13%; 
		left: 50%; 
		transform: translate(-50%, -38%); 
		transition-duration: .3s;
		transition-timing-function: ease;
	}

	.card-image-activites3 img {
		width: 100%; 
		position: absolute;
		top: 23%; 
		left: 50%; 
		transform: translate(-50%, -28%); 
		transition-duration: .3s;
		transition-timing-function: ease;
	}
/*
	.card-activites5 {
		grid-column: 1;
		grid-row: 6;
		margin-right: 1200px;
		border: 1px solid yellow;
	}

	.card-activites6 {
		grid-column: 1;
		grid-row: 7;
		border: 1px solid orange;
	}*/

	footer {
		width: 100%;
		height: 100%;
	}

	#footer-infos {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1/2fr 1/2fr;
	}
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
	
}








